// Variables
$border-color: #000;
$color-bg: #444;
$calculator-width: 200px;
$display-font-size: 30px;
$button-font-size: 16px;

// Calculator container
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $calculator-width;
  margin: 0 auto;
  background-color: $color-bg;
  padding: 20px;
  border-radius: 10px;

  // Display and operation section
  .display,
  .complete-operation {
    width: 100%;
    height: 50px;
    border: 1px solid $border-color;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    overflow: auto;
  }

  .display {
    font-size: $display-font-size;
  }

  .complete-operation {
    height: 30px;
  }

  // Buttons container
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    button {
      padding: 10px;
      font-size: $button-font-size;
    }
  }
}
